@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Raleway");
html, body {
  border: none;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif; }

.flex-just-center, .centered-content {
  display: -webkit-flex !important;
  display: flex !important;
  justify-content: center !important;
  -webkit-justify-content: center !important; }

.flex-direction-column, .column {
  display: -webkit-flex !important;
  display: flex !important;
  flex-direction: column !important;
  -webkit-flex-direction: column !important; }

.numeric {
  color: #009688;
  font-weight: bold; }

.navbar {
  -webkit-box-shadow: 1px 3px 14px -2px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 1px 3px 14px -2px rgba(0, 0, 0, 0.65);
  box-shadow: 1px 3px 14px -2px rgba(0, 0, 0, 0.65); }
  .navbar .container-fluid {
    max-width: 80vw;
    display: -webkit-flex;
    display: flex; }
    .navbar .container-fluid .navbar-header {
      display: -webkit-flex;
      display: flex !important;
      -webkit-flex-direction: row;
      flex-direction: row; }
    .navbar .container-fluid .nav-name {
      display: -webkit-flex;
      display: flex !important;
      margin-left: auto !important;
      -webkit-align-items: stretch;
      align-items: stretch;
      vertical-align: middle; }
      .navbar .container-fluid .nav-name li {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center; }
        .navbar .container-fluid .nav-name li a {
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: row;
          flex-direction: row; }

.nav-colored {
  border: none !important;
  border-radius: 0 !important;
  background-color: #009688 !important; }
  .nav-colored * {
    color: #b2dfdb !important; }
  .nav-colored .container-fluid ul .active a {
    background-color: #00796b !important; }
  .nav-colored .container-fluid ul .open a {
    color: #353535 !important; }

.panel {
  -webkit-box-shadow: 1px 2px 14px -2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 2px 14px -2px rgba(0, 0, 0, 0.45);
  box-shadow: 1px 2px 14px -2px rgba(0, 0, 0, 0.45); }

.clear-list, .post-header .panel-body div .tags ul {
  list-style-type: none !important;
  margin: 0;
  padding: 0; }
  .clear-list li, .post-header .panel-body div .tags ul li {
    margin: 0;
    padding: 0; }

.post-card .panel-body .container-fluid .container-fluid {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.styled-text {
  font-style: italic;
  color: #00796b; }

.view-container {
  max-width: 80vw;
  margin-top: 50px !important; }

.user-info .panel-body {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-justify-content: center !important;
  justify-content: center !important; }
.user-info .content {
  text-align: center;
  display: -webkit-flex !important;
  display: flex !important;
  flex-direction: column; }
  .user-info .content * {
    text-align: center;
    display: block;
    margin: auto; }

.rescent-list li {
  padding: 2px 6px; }
  .rescent-list li a {
    color: #00796b; }
    .rescent-list li a:hover {
      text-decoration: underline; }

.centered-content {
  text-align: center; }

.nav-logo {
  height: 30px;
  display: inline !important; }

.nav-img {
  padding: 0 24px 0 12px; }
  .nav-img img {
    height: 35px;
    border-radius: 50%; }

.profile-pic {
  max-width: 80px;
  max-height: 80px;
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%; }

.lvl {
  font-size: 8em;
  font-weight: bold; }

.post-header .panel-body div .tags ul li {
  display: inline;
  padding: 3px;
  margin: 0 4px;
  background-color: #00796b;
  color: #b2dfdb; }

.post-body {
  padding: 60px;
  min-height: 700px; }

/*# sourceMappingURL=main.css.map */
