<div class="panel panel-default">
  <div class="panel-body">
    <ul class="clear-list">
      <li><h1>Vusumzi, Belmont</h1></li>
      <li><h2>Cardiff</h2></li>
      <li><h1 class="lvl">lv <span class="numeric">3</span></h1></li>
      <li><h1>xp <span class="numeric">321</span></h1></li>
      <li>
        <div class="progress" style="width:60%">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
          aria-valuemin="0" aria-valuemax="100" style="width:60%">
            31xp para el siguiente nivel
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
