<div class="panel panel-default user-info">
  <div class="panel-body">
    <div class="content">
      <h2>Mi Perfil</h2>
      <img class="profile-pic" width="200px" height="200px" src="https://api.adorable.io/avatars/face/eyes2/nose6/mouth3/f98181" alt="">
    </div>
  </div>
  <div class="panel-footer">
    <div class="list-group">
      <a href="#" class="list-group-item"><i class="fa fa-user" aria-hidden="true"></i> Vusumzi, Belmont</a>
      <a href="#" class="list-group-item"><i class="fa fa-graduation-cap" aria-hidden="true"></i>
The Lord Bertrand Russell School</a>
      <a href="#" class="list-group-item"><i class="fa fa-birthday-cake" aria-hidden="true"></i>
6, julio, 1991</a>
    </div>
  </div>
</div>
