.post-card{
  .panel-body{
    .container-fluid{
      .container-fluid{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
      }
    }
  }
}
