<div class="container-fluid view-container">
  <div class="row">
    <div class="col-md-2">
      <student-info></student-info>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="content">
            <h4>Grupos</h4>
          </div>
        </div>
        <div class="panel-footer">
          <div class="content">
            <div class="list-group">
              <a href="#" class="list-group-item">Armagh</a>
              <a href="#" class="list-group-item">Belfast</a>
              <a href="#" class="list-group-item">Derry</a>
              <a href="#" class="list-group-item">Newry</a>
              <a href="#" class="list-group-item">Edinburgh</a>
              <a href="#" class="list-group-item">Glassgow</a>
              <a href="#" class="list-group-item">Cardiff</a>
              <a href="#" class="list-group-item">Newport</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-8">
      <student-card></student-card>

      <show-post></show-post>

    </div>
    <div class="col-md-2">
      <div class="panel panel-default user-info">
        <div class="panel-heading">
          <h4>Últimas Entradas</h4>
        </div>
        <div class="panel-body">
          <ul class="clear-list">
            <li><a href="#">Números binarios</a></li>
            <li><a href="#">Sistemas Operativos</a></li>
            <li><a href="#">Código Ascii</a></li>
            <li><a href="#">MS-DOS</a></li>
            <li><a href="#">Windows</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</div>
